body
{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;        
margin: 0%;   
}

#navbar
{
 height: 60px;   
 background-color: rgba(0, 0, 0, 0.684);  
 color: darkorange;  
}

#navigation
{
display: inline-block
}
nav li
{        
list-style-type: none;
display: inline-block;
padding-inline-start: 240px;
}
a
{
 text-decoration-line: none;   
 color: darkorange


}
a:hover
{    
background-color: rgb(55, 8, 60);  
border-radius: 80px;
padding-inline: 20px;
transition: 0.9s;
}
section
{
background-color: ghostwhite;
height: 340px;
width: 100%;
text-align: center;
padding-top: 50px;
}   
#para1
{
font-size: 18px;
} 
#Secondcontent
{
background-color:lightyellow;
height: 300px;
width: 100%;
padding-top: 50px;  
position: absolute;
right: 380px;
max-width: fit-content;   
} 

hr
{
border-style: none;
border-top-style: dotted;
border-color: rgb(26, 13, 67);
border-width: 5px;
width: 90px;    
}
.hr1
{
position: relative;
left: 0px;    
}